<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>addGoodServlet</servlet-name>
        <servlet-class>com.mft.Servlet.addGoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AddNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPcsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AddPcsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPpsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AddPpsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserServlet</servlet-name>
        <servlet-class>com.mft.Servlet.addUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminaddOrderServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AdminaddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCheckLoginServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AdminCheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetOrderDetailsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AdminGetOrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetPcsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AdminGetPcsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetPpsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.AdminGetPpsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeforeUpNewjspServlet</servlet-name>
        <servlet-class>com.mft.Servlet.BeforeUpNewjspServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>com.mft.Servlet.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkLoginServlet</servlet-name>
        <servlet-class>com.mft.Servlet.checkLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCheckedCartServlet</servlet-name>
        <servlet-class>com.mft.Servlet.DelCheckedCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.DeleteProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelNewsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.DelNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelOrderServlet</servlet-name>
        <servlet-class>com.mft.Servlet.DelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelPcServlet</servlet-name>
        <servlet-class>com.mft.Servlet.DelPcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelPpServlet</servlet-name>
        <servlet-class>com.mft.Servlet.DelPpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllNewsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.GetAllNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAreasServlet</servlet-name>
        <servlet-class>com.mft.Servlet.GetAreasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBuyInfoServlet</servlet-name>
        <servlet-class>com.mft.Servlet.GetBuyInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCitysServlet</servlet-name>
        <servlet-class>com.mft.Servlet.GetCitysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewsByIdServlet</servlet-name>
        <servlet-class>com.mft.Servlet.GetNewsByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.GetNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductServlet</servlet-name>
        <servlet-class>com.mft.Servlet.GetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.GetProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsUserServlet</servlet-name>
        <servlet-class>com.mft.Servlet.IsUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mft.Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.mft.Servlet.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailShowServlet</servlet-name>
        <servlet-class>com.mft.Servlet.OrderDetailShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderShowServlet</servlet-name>
        <servlet-class>com.mft.Servlet.OrderShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PutCartServlet</servlet-name>
        <servlet-class>com.mft.Servlet.PutCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuerenServlet</servlet-name>
        <servlet-class>com.mft.Servlet.QuerenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryAllOrderServlet</servlet-name>
        <servlet-class>com.mft.Servlet.QueryAllOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryAllUser</servlet-name>
        <servlet-class>com.mft.Servlet.QueryAllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryProductsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.QueryProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductsServle</servlet-name>
        <servlet-class>com.mft.Servlet.RemoveProductsServle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>com.mft.Servlet.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserServlet</servlet-name>
        <servlet-class>com.mft.Servlet.ShowUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showUserIdServlet</servlet-name>
        <servlet-class>com.mft.Servlet.showUserIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductServlet</servlet-name>
        <servlet-class>com.mft.Servlet.FindProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartNumServlet</servlet-name>
        <servlet-class>com.mft.Servlet.UpdateCartNumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>com.mft.Servlet.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductsServlet</servlet-name>
        <servlet-class>com.mft.Servlet.updateProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpPcServlet</servlet-name>
        <servlet-class>com.mft.Servlet.UpPcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpPpServlet</servlet-name>
        <servlet-class>com.mft.Servlet.UpPpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpUserServlet</servlet-name>
        <servlet-class>com.mft.Servlet.UpUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGoodServlet</servlet-name>
        <url-pattern>/addGoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/AddNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPcsServlet</servlet-name>
        <url-pattern>/AddPcsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPpsServlet</servlet-name>
        <url-pattern>/AddPpsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminaddOrderServlet</servlet-name>
        <url-pattern>/AdminaddOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCheckLoginServlet</servlet-name>
        <url-pattern>/AdminCheckLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetOrderDetailsServlet</servlet-name>
        <url-pattern>/AdminGetOrderDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetPcsServlet</servlet-name>
        <url-pattern>/AdminGetPcsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetPpsServlet</servlet-name>
        <url-pattern>/AdminGetPpsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeforeUpNewjspServlet</servlet-name>
        <url-pattern>/BeforeUpNewjspServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLoginServlet</servlet-name>
        <url-pattern>/checkLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCheckedCartServlet</servlet-name>
        <url-pattern>/DelCheckedCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductsServlet</servlet-name>
        <url-pattern>/DeleteProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelNewsServlet</servlet-name>
        <url-pattern>/DelNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelOrderServlet</servlet-name>
        <url-pattern>/DelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelPcServlet</servlet-name>
        <url-pattern>/DelPcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelPpServlet</servlet-name>
        <url-pattern>/DelPpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllNewsServlet</servlet-name>
        <url-pattern>/GetAllNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAreasServlet</servlet-name>
        <url-pattern>/GetAreasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBuyInfoServlet</servlet-name>
        <url-pattern>/GetBuyInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCitysServlet</servlet-name>
        <url-pattern>/GetCitysServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewsByIdServlet</servlet-name>
        <url-pattern>/GetNewsByIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewsServlet</servlet-name>
        <url-pattern>/GetNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductServlet</servlet-name>
        <url-pattern>/GetProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsServlet</servlet-name>
        <url-pattern>/GetProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsUserServlet</servlet-name>
        <url-pattern>/IsUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailShowServlet</servlet-name>
        <url-pattern>/OrderDetailShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderShowServlet</servlet-name>
        <url-pattern>/OrderShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutCartServlet</servlet-name>
        <url-pattern>/PutCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuerenServlet</servlet-name>
        <url-pattern>/QuerenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryAllOrderServlet</servlet-name>
        <url-pattern>/QueryAllOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryAllUser</servlet-name>
        <url-pattern>/QueryAllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryProductsServlet</servlet-name>
        <url-pattern>/QueryProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductsServle</servlet-name>
        <url-pattern>/RemoveProductsServle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/ShowCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserServlet</servlet-name>
        <url-pattern>/ShowUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showUserIdServlet</servlet-name>
        <url-pattern>/showUserIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductServlet</servlet-name>
        <url-pattern>/FindProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartNumServlet</servlet-name>
        <url-pattern>/UpdateCartNumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductsServlet</servlet-name>
        <url-pattern>/updateProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpPcServlet</servlet-name>
        <url-pattern>/UpPcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpPpServlet</servlet-name>
        <url-pattern>/UpPpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpUserServlet</servlet-name>
        <url-pattern>/UpUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
